/**
 * Enhanced recent changes (grouped)
 */
.mw-enhanced-rc,
table.mw-enhanced-rc {
	color: var( --ak-fg );

	td {
		border: 0;
	}

	.mw-enhanced-rc-nested,
	.mw-enhanced-rc-time {
		color: var( --ak-fg-muted );
	}

	.mw-enhancedchanges-arrow,
	.mw-enhancedchanges-arrow-space {
		filter: none;
	}
}

.mw-enhanced-rc .mw-enhanced-rc-collapsed .mw-collapsible-toggle .mw-collapsible-text {
	color: var( --ak-fg-muted );
}
