{{!
	string link-mainpage
	string html-logo-icon-src   icon > svg > 1x from $wgLogos
	object data-logos           core logo data (wordmark: {src,width,height})
	string msg-sitetitle / msg-tooltip-p-logo
	string|null html-header-tagline  MediaWiki:Arknights-header-tagline (plain text), null when unset

	DOM contract of chrome/header.css: a.ak-header__logo > img + span.ak-header__wordmark > (text | img) + small
}}
<a class="ak-header__logo mw-logo" href="{{link-mainpage}}" title="{{msg-tooltip-p-logo}}">
	{{#html-logo-icon-src}}<img class="mw-logo-icon" src="{{.}}" alt="" aria-hidden="true" width="32" height="32">{{/html-logo-icon-src}}
	<span class="ak-header__wordmark mw-logo-container">
		{{#data-logos.wordmark}}<img class="mw-logo-wordmark" src="{{src}}" alt="{{msg-sitetitle}}" width="{{width}}" height="{{height}}">{{/data-logos.wordmark}}
		{{^data-logos.wordmark}}{{msg-sitetitle}}{{/data-logos.wordmark}}
		{{#html-header-tagline}}<small>{{.}}</small>{{/html-header-tagline}}
	</span>
</a>
