{{!
	object data-toc  core TOC data enriched by ArknightsComponentTableOfContents
	string msg-toc / msg-arknights-drawer-close
}}
{{#data-toc}}
<nav class="ak-toc__inner{{#is-collapse-sections-enabled}} ak-toc--collapse-enabled{{/is-collapse-sections-enabled}}" id="mw-panel-toc" aria-labelledby="ak-toc-label">
	<div class="ak-toc__head">
		<div class="ak-toc__title" id="ak-toc-label">{{msg-toc}}</div>
		<button type="button" class="ak-toc__close ak-icon-btn" aria-label="{{msg-arknights-drawer-close}}" title="{{msg-arknights-drawer-close}}"><span class="ak-icon ak-icon--close"></span></button>
	</div>
	<div class="ak-toc__progress" aria-hidden="true"><i></i></div>
	{{>TableOfContents__list}}
</nav>
{{/data-toc}}
