/**
 * CategoryTree
 */
.CategoryTreeToggle {
	color: var( --ak-accent );
}

.CategoryTreeBullet,
.CategoryTreeEmptyBullet {
	color: var( --ak-fg-muted );
}

.CategoryTreeSection {
	color: var( --ak-fg );
}

.CategoryTreeItem .CategoryTreeToggle {
	background-image: none;
}
